<div class="container">
    <div class="jumbotron">
        <h1>We Are GroupFuel</h1>

        <p>GroupFuel is a product that was made to make YOUR fuel consumption managing
            faster, easier and more efficient.
            GroupFuel was created as part of Course 236371 - Project in Parallel/Distributed Programming
            Under the supervision of <b> Prof. Roy Friedmann</b> and <b>Dr. Alex Libov</b>
        </p>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Tomer Peled</h2>
            <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xpf1/v/t1.0-1/c45.45.564.564/s200x200/76605_1680723624348_2434691_n.jpg?oh=79ef7e917074cb0d5d1a819490b659f8&oe=566B2062&__gda__=1449616585_5d633edf4fe3a707a8548fc801fa8f87">

            <p>Tomer is a 28 years old Software Engineer <br>at Intel who is about to start his Msc. in Haifa Uni. <br>
                Tomer is passionate about Web programming and constantly learning new Web technologies in order to stay in the front
                line of web programming.</p>
            <a class="btn btn-primary" href="https://www.linkedin.com/profile/view?id=396185949&authType=NAME_SEARCH&authToken=tWrh&locale=en_US&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2CclickedEntityId%3A396185949%2CauthType%3ANAME_SEARCH%2Cidx%3A1-1-1%2CtarId%3A1440508371966%2Ctas%3Atomer%20peled">Tomer's LinkedIn</a>
        </div>
        <div class="col-md-4">
            <h2>Yaniv Libal</h2>
            <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xpa1/v/t1.0-1/c0.22.200.200/p200x200/10968558_10153081984798044_883089958250466676_n.jpg?oh=1287c30f09c11c976ce4a6567264ec5f&oe=563DECB3&__gda__=1450217841_f3f4d25bc43a4c81b6b929bfcebc1d3b">
            <p>Yaniv is a 26 years old Software developer<br> at Intel. While his work in Intel deals with languages such as Tcl\Tk, Yaniv is intrigued about Android and creating Android apps on his free time.<br>&nbsp</p>
            <a class="btn btn-primary" href="https://www.linkedin.com/profile/view?id=146948330&authType=NAME_SEARCH&authToken=A11k&locale=en_US&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2CclickedEntityId%3A146948330%2CauthType%3ANAME_SEARCH%2Cidx%3A1-2-2%2CtarId%3A1440508669135%2Ctas%3AYANIV%20LIB">Yaniv's LinkedIn</a>
        </div>
        <div class="col-md-4">
            <h2>Matan Sabag</h2>
            <!-- <img src="https://scontent-fra3-1.xx.fbcdn.net/hphotos-prn2/v/t1.0-9/559555_2509931805678_200036766_n.jpg?oh=20bd1a1c6af979fed871f1299afcc3db&oe=567B7D41"> -->
            <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn2/v/t1.0-1/c37.37.461.461/s200x200/559555_2509931805678_200036766_n.jpg?oh=a6ab26447b4e95d6bfcbcd14a42c0650&oe=5683C5EE&__gda__=1449939229_43be3bc9ab03eaa6670c9210ede2b536">
            <p>Matan is 27 years old Software Engineer who currenly works for ScaleIO. Matan loves everything about programming but mainly fascinated by Cloud technologies
                and creating useful information out of raw data . </p>
            <a href="https://www.linkedin.com/profile/view?id=239886043&authType=NAME_SEARCH&authToken=lJJf&locale=en_US&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2CclickedEntityId%3A239886043%2CauthType%3ANAME_SEARCH%2Cidx%3A1-1-1%2CtarId%3A1440509397937%2Ctas%3AMATAN%20SABAG" class="btn btn-primary">Matan's LinkedIn</a>
        </div>
    </div>
</div>