<div class="container">
    <div class="jumbotron">
        <h1>Getting Started</h1>

        <p>An overview of GroupFuel, how to download, functionalities and everything you need to know
            in order to track and manage your fuel consumption smarter!
        </p>
    </div>
    <div class="row"></div>
    <div class="container bs-docs-container">
        <div class="col-md-9" role="main">
            <div class="bs-docs-section">
                <h1 class="page-header">Web App Guide</h1>
            </div>
            <div class="bs-docs-section">
                <h2 class="page-header">Create An Account</h2>

                <p>Create an account by clicking the &quotCreate Account&quot button that is placed in the upper right
                    hand
                    of the page, if you already have an account, just click login and enter your details.</p>
            </div>
            <div class="bs-docs-section">
                <h2 class="page-header">Manage Your Cars</h2>

                <div class="page-body">
                    <p>Click
                        <bold>Manage Account->Manage Cars</bold>
                        in order to go to the screen that shows you all the raw details
                        about cars you own and cars that you are listed as a driver in.
                    </p>
                    <img src="GroupFuelWeb/app/assets/images/managecars.JPG">

                    <p>If you wish to remove a car from the Cars I Own list, just click the red
                        <bold>Remove Car</bold>
                        button, similar
                        action can be done if you wish to remove yourself as a driver from a car by clicking
                        <bold>Leave Car</bold>
                        button.

                        Want to add a car to your list? Just click the
                        <bold>Add a car</bold>
                        button which will open a pop up that will
                        require you to fill in the necessary information about the car, please make sure you don&#39t
                        miss
                        any
                        field.
                    </p>
                    <img src="GroupFuelWeb/app/assets/images/addacar.JPG">

                    <p>Want to see the drivers of a car and\or add a driver to one of your cars? Just click the green
                        Driver Details button of the car, a popup will pop on your screen with the details.
                        Easily add or remove driver by clicking
                        <bold>Add or Remove</bold>
                        Driver buttons.
                    </p>
                    <img src="GroupFuelWeb/app/assets/images/cardrivers.JPG">
                </div>
            </div>
            <div class="bs-docs-section">
                <h2 class="page-header">Manage Your Account</h2>

                <div class="page-body">
                    <p>Manage your account in the personal information section. Simply click Manage Account -> Edit
                        Profile and update your information if needed. </p>
                    <img src="GroupFuelWeb/app/assets/images/EditProfile.JPG">
                </div>
            </div>

            <div class="bs-docs-section">
                <h2 class="page-header">Statistics (Or: GroupFuel - The Good Parts)</h2>

                <div class="page-body">
                    <p>We at GroupFuel provide 2 different kinds of statistics, those who are relevant to your cars
                        usage and those that are global.
                        If you click My Usage, you will be directed into a page that displays a variety of different
                        statistics and interesting information regarding your fuel usage.
                        You can see a table named Cars Usage that presents the most up to date data of your cars, a
                        table named Fuel History which is basically a log of all the recent fuelings of your cars.
                        You can see in the right hand side of the page two types of charts &#45 Pie Charts and Line
                        charts that presents graphic data about your cars fuel usage.
                        In the Pie Charts Section you can choose between the following charts: Fuel Per Car, Km per
                        Liter and Money per Car.
                        In the Line Charts Section you can choose between the following types of data: Fuel per month
                        and Money per month.
                        And lastly, in the lower part of the page there is Google Maps map with red pins on it that
                        represents the location of your cars&#39 fuelings, making it easier for you to control integrity
                        of driving locations.
                    </p>
                    <img src="GroupFuelWeb/app/assets/images/usage.JPG">

                    <p>If you want to see general data, what we call &quotglobal data&quot, meaning not just about your
                        cars, just click Stats, choose the model that you want to get data about (same as in add a car
                        part) and click submit.</p>
                </div>
            </div>
            <div class="bs-docs-section">
                <h1 class="page-header">Android App Guide</h1>

                <p>The android app is mainly used for posting fuel events as well as viewing really basic data regarding
                    your fuelings. As mentioned above, the interesting stats and data exists in the website, in order to
                    maintain a lightweight, fast and battery saving application.

                    You can Swipe between 3 main screen &#45 My Usage, Fuel Log and Navigate.</p>
            </div>
            <div class="bs-docs-section">
                <h2 class="page-header">My Usage</h2>

                <p>Shows a list of your cars with basic information about each car as can be seen in the following </p>
                <img class="android-img" src="GroupFuelWeb/app/assets/images/app-usage.png">
                <br>

                <p>Long click on one of the cars will open a menu to add or remove drivers as well as to remove the
                    car.</p>
                <img class="android-img" src="GroupFuelWeb/app/assets/images/app-addremove.png">
                <br>

                <p>Clicking Add New Car will open the following menu for adding a new car that you own:</p>
                <img class="android-img" src="GroupFuelWeb/app/assets/images/add.png">
            </div>
            <div class="bs-docs-section">
                <h2 class="page-header">Fuel Log</h2>

                <div class="page-body">
                    <p>List of Fueling Events</p>
                    <img class="android-img" src="GroupFuelWeb/app/assets/images/app-log.png">
                </div>
            </div>
            <div class="bs-docs-section">
                <h2 class="page-header">Navigate</h2>

                <div class="page-body">
                    <p>shows a list of the nearest fuel stations, with relevant data that can help you decide quickly
                        where to fuel, such as distance, brand and fuel price.
                        Just click on the Gas Station and your favorite navigation app will take you there immediately
                    </p>
                    <img class="android-img" src="GroupFuelWeb/app/assets/images/app-navigate.png">
                </div>
            </div>
            <div class="bs-docs-section">
                <h2 class="page-header">Fuel Up</h2>

                <div class="page-body">
                    <p>You will notice that no matter on what screen you&#39re looking at, there&#39s a big round yellow
                        plus
                        sign.
                        Click this button whenever you want to insert a fuel event,
                        Just enter the Mileage, price and amount of liters you used and send us the details, we will
                        take care of the rest.
                    </p>
                    <img class="android-img" src="GroupFuelWeb/app/assets/images/app-fuel.png">
                </div>
            </div>
            <div class="bs-docs-section">
                <h2 class="page-header">Settings</h2>

                <div class="page-body">
                    <p>similarly to the screens mentioned in the Web guide, you can access settings by clicking the 3
                        dots in the upper right hand side of the screen and manage your cars, personal setting and
                        account settings, for example:
                    </p>
                    <img class="android-img" src="GroupFuelWeb/app/assets/images/app-edit.png">
                </div>
            </div>
        </div>
    </div>
</div>