<div class="container">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">User Details</div>
            </div>
            <div class="panel-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="user_name" class="control-label col-md-3">User Name:</label>
                        <div class="col-md-7">
                            <input class="form-control" id="user_name" type="text" ng-model="signupDetails.userName"
                                   placeholder="johndoe">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="control-label col-md-3">Password:</label>
                        <div class="col-md-7">
                            <input class="form-control" id="password" type="password" ng-model="signupDetails.password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="re_password" class="control-label col-md-3">Repeat Password:</label>
                        <div class="col-md-7">
                            <input class="form-control" id="re_password" type="password" ng-model="signupDetails.repeatPassword">
                        </div>
                    </div>
                    <hr>
                    <div class="form-group">
                        <label class="control-label col-md-3" for="first_name">First Name:</label>
                        <div class="col-md-7">
                            <input class="form-control" id="first_name" type="text" ng-model="signupDetails.firstName"
                                   placeholder="John">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3" for="last_name">Last Name:</label>
                        <div class="col-md-7">
                            <input class="form-control" id="last_name" type="text" ng-model="signupDetails.lastName"
                                   placeholder="Doe">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3" for="email">Email:</label>
                        <div class="col-md-7">
                            <input class="form-control" id="email" type="email" ng-model="signupDetails.email"
                                   placeholder="John.Doe@GroupFuel.com">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">Gender</label>
                        <div class="col-md-7">
                            <div class="radio radio-primary">
                                <label>
                                    <input type="radio" name="optionsRadios" id="gender-male" value=true ng-model="signupDetails.gender" checked>
                                    Male
                                </label>
                            </div>
                            <div class="radio radio-primary">
                                <label>
                                    <input type="radio" name="optionsRadios" id="gender-female" value=false ng-model="signupDetails.gender">
                                    Female
                                </label>
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="control-label col-md-3" for="birthdate">Birth date</label>
                        <div class="col-md-7">
                            <input type="text"
                                   id="birthdate"
                                   datepicker-popup="dd-MMMM-yyyy"
                                   ng-model="signupDetails.birthDate"
                                   is-open="datepickers.birthDateOpened"
                                   ng-click="openBirthDate()"
                                   max-date="datepickers.maxDate"
                                   min-date="datepickers.minDate"
                                   close-text="Close"
                                   class="input-md form-control"/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="panel-footer">
                <button type="submit" class="btn btn-primary" ng-click="doSignUp()">Sign Up!</button>
            </div>
        </div>
    </div>
</div>
