<div class="container">
    <div class="page-header">
        <div class="jumbotron">
            <h1>Group Fuel <small>Manage your fuel consumption smarter!</small></h1>
            </br>
            <p>Group Fuel is a system that helps you track and manage your fuel consumption</p>
        </div>
    </div>
    <div class="page-body">
        <div class="welcome-page col-md-3">a</div>
        <div class="welcome-page col-md-3">a</div>
        <div class="welcome-page col-md-3">a</div>
    </div>
</div>