<div class="container">
    <div class="jumbotron">
        <h1>Group Fuel</br><small>Manage your fuel consumption smarter!</small></h1>
        </br>
        <p>Group Fuel is a system that helps you track and manage your fuel consumption</p>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Quick Start</h2>
            <p>
                Read the user manual and start now
            </p>
            <a href="/manual"><img class="android-img" align="middle" src="GroupFuelWeb/app/assets/images/nd_android_pandareade_128px_1186860_easyicon.net.png"/></a>
        </div>
        <div class="col-md-4">
            <h2>Check The Stats</h2>
            <p>
                Looking for a new car and want to check what is the real fuel consumption data?
                GroupFuel can help - check our statistics, based on real life data
                <br>Having problems tracking your family cars fuel usage?
                GroupFuel provides a simple interface for tracking,
                accompanied by visualization of your data and fuel history log.
                <br><a href="/signup"><strong>Start Today</strong></a>
            </p>
            <a  class="welcome-img"href="/usage"><img class="welcome-img" align="middle" src="GroupFuelWeb/app/assets/images/usage.png"/></a>
        </div>
        <div class="col-md-4">
            <h2>Download Our App</h2>
            <p>
                Currently avaliable for Android only, Stay tuned for iOS.
                <br>If you liked our app, please leave a review :)
            </p>
            <a href="https://play.google.com/store/apps/details?id=com.mty.groupfuel"><img class="android-img" align="middle" src="GroupFuelWeb/app/assets/images/android_128px_1181646_easyicon.net.png"/></a>
        </div>
    </div>
</div>