<div class="container">
    <div class="jumbotron">
        <h1>Group Fuel</br><small>Manage your fuel consumption smarter!</small></h1>
        </br>
        <p>Group Fuel is a system that helps you track and manage your fuel consumption</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>Quick Start</h2>
            </div>
            <div class="col-md-4">
                <h2>Check The Stats</h2>
            </div>
            <div class="col-md-4">
                <h2>Download Our App</h2>
            </div>
        </div>
    </div>
</div>